<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhP ToDoList</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- JS -->
    <script src="./main.js" defer></script>

    <!-- Css -->
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="app">
        <div class="container mt-5">
            <h1 class="text-center mb-5">{{ title }}</h1>

            <div class="input-group mb-3">
                <input v-model="newserie.name" @keyUp.enter="fetchStoreSerie()" type="text" class="form-control" placeholder="Nuova Serie..." aria-label="Nuova Serie..." aria-describedby="button-add-serie" />
                <button @click="fetchStoreSerie()" class="btn btn-outline-secondary" type="button" id="button-add-serie">Aggiungi</button>
              </div>

            <div class="d-flex justify-content-center mt-3">
                <div class="card">
                    <div class="card-header">Serie da vedere</div>
                    <ul class="list-group list-group-flush">
                        <li v-for="(serie, index) in serietv"  class="list-group-item d-flex justify-content-between" :class="serie.done == true ? 'text-decoration-line-through' : '' "> <span @click="fetchUpdateSerie(index, serie)">{{ serie.name }}</span> <i class="bi bi-trash text-danger" @click="fetchDeleteSerie(index)"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>